$color_1: #ffffff;
$background-color_1: rgba(253, 101, 133, 1);
$background-color_2: #ffffff;
$background-color_3: #e2e2e2;
$background-color_4: #4796ff;

* {
  box-sizing: border-box;
}
body{
  margin: 0 !important;
}
:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color_1;
}
.login-card {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: $background-color_2;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  input {
    margin: 5px 0;
    width: 100%;
    background-color: $background-color_3;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
  }
  button {
    background-color: $background-color_4;
    color: $color_1;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    width: 100%;
  }
}
.card-title {
  h1 {
    font-size: 26px;
    font-weight: bold;
  }
}
